@font-face {
  font-family: "myFontRegular";
  src: url("./notosans-variablefont_wdthwght-webfont.woff2") format("woff2");
}

@font-face {
  font-family: "myFontTitle";
  src: url("./rushsuckregular-x3dpj-webfont.woff2") format("woff2");
}

* {
  margin: 0;
  padding: 0;
}

body {
  height: 100vh;
  display: grid;
  grid-template-rows: min-content 1fr;
  justify-content: stretch;
  gap: 4rem;
  background-image: url("./icons/sky2.jpg");
  background-repeat: no-repeat;
  background-size: 100vw 100vh;
  font-family: myFontRegular;
}

.header {
  padding: 2rem;
  display: flex;
  align-items: start;
  justify-content: space-between;
  color: white;
  position: relative;
}

.box_4 {
  grid-area: box_4;
}

.input_wrapper {
  width: 80px;
  height: 40px;
  position: relative;
  cursor: pointer;
}

.input_wrapper input[type="checkbox"] {
  width: 80px;
  height: 40px;
  cursor: pointer;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  background: rgba(0, 0, 0, 0.9);
  border-radius: 2px;
  position: relative;
  outline: 0;
  -webkit-transition: all 0.2s;
  transition: all 0.2s;
}

.input_wrapper input[type="checkbox"]:after {
  position: absolute;
  content: "";
  top: 3px;
  left: 3px;
  width: 34px;
  height: 34px;
  background: #adadad;
  z-index: 2;
  border-radius: 2px;
  -webkit-transition: all 0.35s;
  transition: all 0.35s;
}

.input_wrapper svg {
  position: absolute;
  top: 50%;
  -webkit-transform-origin: 50% 50%;
  transform-origin: 50% 50%;
  fill: #fff;
  -webkit-transition: all 0.35s;
  transition: all 0.35s;
  z-index: 1;
}

.input_wrapper .is_checked {
  width: 30px;
  height: 30px;
  left: 8%;
  -webkit-transform: translateX(190%) translateY(-50%) scale(0);
  transform: translateX(190%) translateY(-50%) scale(0);
}

.input_wrapper .is_unchecked {
  width: 30px;
  height: 30px;
  right: 10%;
  -webkit-transform: translateX(0) translateY(-50%) scale(1);
  transform: translateX(0) translateY(-50%) scale(1);
}

.input_wrapper input[type="checkbox"]:checked:after {
  left: calc(100% - 37px);
}

.input_wrapper input[type="checkbox"]:checked + .is_checked {
  -webkit-transform: translateX(0) translateY(-50%) scale(1);
  transform: translateX(0) translateY(-50%) scale(1);
}

.input_wrapper input[type="checkbox"]:checked ~ .is_unchecked {
  -webkit-transform: translateX(-190%) translateY(-50%) scale(0);
  transform: translateX(-190%) translateY(-50%) scale(0);
}

.header > h1 {
  grid-area: h1;
  font-size: 8rem;
  font-family: myFontTitle;
  font-weight: 100;
  width: 900px;
  text-align: right;
}

.header > div {
  grid-area: div;
  display: flex;
}

form {
  display: flex;
  visibility: hidden;
  color: black;
}

#location {
  border: none;
  padding-left: 1rem;
  font-size: 2rem;
  background-color: rgba(255, 255, 255);
  font-family: myFontRegular;
  padding-top: 0.25rem;
  height: 45.75px;
  border-top-left-radius: 10px;
  border-bottom-left-radius: 10px;
}

#location:focus {
  border: none;
  outline: none;
  background-color: rgb(237, 247, 255);
}

#submit-btn {
  border: none;
  padding: 0.5rem 1rem;
  cursor: pointer;
  font-size: 1rem;
  background-image: url("/src/icons/map-search.svg");
  width: 50px;
  height: 50px;
  background-size: 45px;
  background-repeat: no-repeat;
  background-position: 1px 5px;
  color: black;
  border-top-right-radius: 10px;
  border-bottom-right-radius: 10px;
}

#submit-btn:hover {
  background-color: rgb(164, 255, 158);
  color: white;
}

#display-form {
  background-color: rgb(0, 0, 0);
  border: none;
  width: 75px;
  height: 75px;
  background-size: 65px;
  background-image: url("/src/icons/map-search-outline.svg");
  background-repeat: no-repeat;
  background-position: 6px 5px;
  cursor: pointer;
  border-radius: 10px;
}

#display-form:hover {
  background-color: rgba(49, 49, 49, 0.8);
}

.main-content {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 1rem;
  padding-top: 2rem;
}

.weather-div {
  font-size: 2rem;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: 950px;
  border-radius: 10px;
  color: white;
}

.error-div {
  font-size: 2rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 950px;
  height: 400px;
  border-radius: 10px;
  font-size: 3rem;
  font-weight: 900;
  color: white;
  background-color: rgb(255, 72, 72, 0.4);
  text-align: center;
}

.loading-div {
  font-size: 2rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 950px;
  height: 400px;
  border-radius: 10px;
  font-size: 3rem;
  font-weight: 900;
  color: white;
  background-color: rgba(123, 198, 255, 0.4);
  text-align: center;
}

.address-date-time {
  display: grid;
  grid-template-columns: 3fr 1fr;
  padding: 1.5rem 1rem 1rem 1rem;
  background-color: rgba(0, 0, 0, 0.4);
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
  color: white;
  font-size: 2.5rem;
  font-weight: 600;
}

.current-datetime {
  place-self: center end;
  font-weight: 500;
  font-size: 1.75rem;
}

.current-temp {
  font-size: 9rem;
  font-weight: 700;
}

.current-conditions,
.current-temp-max-min {
  font-weight: 600;
  font-size: 2.5rem;
}

.current-icon {
  width: 175px;
  height: 175px;
}

.container-div {
  display: grid;
  padding: 0 2rem;
  grid-template-columns: 1fr 1fr;
  justify-content: center;
  place-items: end;
  padding: 1rem;
}

.temp-conditions-tempmaxmin {
  place-self: center start;
  display: flex;
  flex-direction: column;
}

.current-temp-max-min {
  padding-top: 1rem;
}

.icon-humidity {
  display: flex;
  flex-direction: column;
  gap: 3.5rem;
  justify-content: space-between;
  align-items: end;
}

.current-temp,
.current-conditions,
.current-temp-max-min,
.current-humidity {
  text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.4);
}

.current-description {
  padding: 0.75rem;
  background-color: rgba(0, 0, 0, 0.4);
  color: white;
  border-bottom-left-radius: 10px;
  border-bottom-right-radius: 10px;
  font-size: 1.4rem;
  text-align: center;
  font-style: italic;
}

.days-div {
  display: flex;
  color: white;
  width: 950px;
  justify-content: space-around;
}

.day {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  font-size: 1rem;
  font-weight: 600;
  height: 150px;
  width: 110px;
  border-radius: 10px;
  cursor: pointer;
  text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.4);
}

.day-para {
  text-align: center;
  padding-top: 0.5rem;
  font-size: 1.5rem;
}

.day-icon {
  width: 75px;
  height: 75px;
}

.day-temp-max-min {
  text-align: center;
  padding-bottom: 0.5rem;
  font-size: 1.25rem;
}
