/* @font-face {
  font-family: "myFontBold";
  src: url("./didot_bold-webfont.woff2") format("woff2"),
    url("./didot_bold-webfont.woff") format("woff2");
} */

@font-face {
  font-family: "myFontRegular";
  src: url("./latinia-webfont.woff2") format("woff2");
}

@font-face {
  font-family: "myFontTitle";
  src: url("./rushsuckregular-x3dpj-webfont.woff2") format("woff2");
}

* {
  margin: 0;
  padding: 0;
}

body {
  height: 100vh;
  display: grid;
  grid-template-rows: min-content 1fr;
  justify-content: stretch;
  gap: 4rem;
  background-image: url("./icons/sky2.jpg");
  background-repeat: no-repeat;
  background-size: 100vw 100vh;
  font-family: myFontRegular;
}

.header {
  padding: 2rem;
  display: grid;
  grid-template-columns: 1.325fr 1fr;
  grid-template-areas: "h1 div";
  align-items: start;
  justify-items: end;
  color: white;
}

.header > h1 {
  grid-area: h1;
  font-size: 6rem;
  font-family: myFontTitle;
  font-weight: 100;
}

.header > div {
  grid-area: div;
  display: flex;
  /* position: relative;
  right: -37.5vw; */
}

form {
  display: flex;
  visibility: hidden;
  /* gap: 0.25rem; */
  color: black;
}

#location {
  border: none;
  padding-left: 1rem;
  font-size: 1rem;
}

#location:focus {
  border: none;
  outline: none;
}

#submit-btn {
  border: none;
  padding: 0.5rem 1rem;
  cursor: pointer;
  font-size: 1rem;
  background-image: url("/src/icons/map-search.svg");
  width: 50px;
  height: 50px;
  background-size: 45px;
  background-repeat: no-repeat;
  background-position: 1px 5px;
  color: black;
}

#submit-btn:hover {
  background-color: rgb(164, 255, 158);
  color: white;
}

#display-form {
  background-color: #000000;
  border: none;
  width: 50px;
  height: 50px;
  background-image: url("/src/icons/map-search-outline.svg");
  background-size: 40px;
  background-repeat: no-repeat;
  background-position: 6px 5px;
  cursor: pointer;
}

.main-content {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.weather-div {
  font-size: 2rem;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: 1000px;
  height: 450px;
  border-radius: 10px;
  color: white;
}

.address-date-time {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1rem 1rem 1rem 1rem;
  background-color: rgba(0, 0, 0, 0.4);
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
  color: white;
  font-size: 3rem;
  font-weight: 550;
}

.current-temp {
  font-size: 9rem;
  padding-bottom: -1rem;
}

.current-icon {
  width: 150px;
  height: 150px;
}

.temp-feelslike {
  display: flex;
  gap: 0.3rem;
}

.icon-temp-feelslike-humidity {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 2rem;
}

.temp-feelslike-humidity {
  display: flex;
  flex-direction: column;
  gap: 0.25rem;
}

.current-description {
  padding: 1rem;
  background-color: rgba(0, 0, 0, 0.4);
  color: white;
  border-bottom-left-radius: 10px;
  border-bottom-right-radius: 10px;
  font-size: 1.5rem;
}
